<h1>Signup</h1>
<div class='row'>
	<div class='col-md-6'>
		<%= form_for(:user_account) do |f| %>
			<%= f.label(:username) %>
			<%= f.text_field(:username, class: 'form-control') %>

			<%= f.label(:password) %>
			<%= f.password_field(:password, class: 'form-control') %>

			<%= f.label(:first_name) %>
			<%= f.text_field(:first_name, class: 'form-control') %>

			<%= f.label(:last_name) %>
			<%= f.text_field(:last_name, class: 'form-control') %>

			<%= f.submit('Submit', class: 'btn btn-primary') %>
		<% end %>
	</div>

	<p>Your lodge secretary will review every request for a new account before it is provided.</p>
</div>